*.mp4
*.zip

Open_CV/Face_Tracking/Videos
Open_CV/Vehicle_Counting/1
Open_CV/Resources
Open_CV/Self_Driving_Car_Data/IMG
Open_CV/term1-simulator-linux
Open_CV/unity-editor_amd64-5.5.1xf1Linux.deb
Open_CV/term1-simulator-linux.zip

Open_CV/yolov3-320.cfg
Open_CV/yolov3-320.weights
Open_CV/yolov3-tiny.cfg
Open_CV/yolov3-tiny.weights
Open_CV/model.h5
Open_CV/cocoNames.zip
Open_CV/QR_code/QRCode_BarCode_Video.mp4



Torch/data.zip
Torch/Torch2/data
Torch/data
Torch/dataset
